// Font size
$s-h1: 5rem;
$s-h2: 4rem;
$s-h3: 3.5rem;
$s-text: 1.7rem;

// Font weight
$w-extra-light: 200;
$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-semi-bold: 600;
$w-bold: 700;

//Font Family
$ff: 'Josefin Sans', sans-serif;

// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #E9EEF2;
$c-orange: #FB811E;
$c-green: #009F4D;
$c-bg-white: #E9EEF2;
$c-bg-black: #292929;
$c-bg-orange: #FB811E;
$c-bg-green: #009F4D;